.App {
    text-align: center;
    width: 250px;
    height: 490px;
    border: 3px solid black;
    border-radius: 5%;
    margin: auto;
    margin-top: 200px;
}
.light {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    margin-top: 7px;
}